# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# MacOS / Windows
.DS_Store
Thumbs.db

# Optional log files
*.log
logs/

# IDE / Editor
.vscode/
.idea/

#Prisma generated client
/generated/prisma
